In [10]:
from db_connection import get_connection

In [15]:
sql = """
DROP TABLE IF EXISTS daily_sales;

CREATE TABLE daily_sales (
    sale_date DATE,
    product_id INT,
    quantity INT,
    revenue DECIMAL(10,2)
);

INSERT INTO daily_sales VALUES
('2024-01-05', 1, 10, 500.00),
('2024-01-15', 2, 5, 250.00),
('2024-01-25', 1, 8, 400.00),
('2024-02-10', 1, 15, 750.00),
('2024-02-20', 2, 12, 600.00),
('2024-03-08', 1, 6, 300.00),
('2024-03-22', 2, 20, 1000.00);

"""

#### with insert/create command we commit

In [16]:

with get_connection() as connection:
    with connection.cursor() as cursor:
        cursor.execute(sql)
        connection.commit()   # REQUIRED for CREATE / INSERT