In [ ]:
from db_connection import get_connection
from tabulate import tabulate

## Products Table Creation

```sql
-- Drop the table if it already exists
DROP TABLE IF EXISTS products;

-- Create products table
CREATE TABLE products (
    product_id    INT           PRIMARY KEY,
    product_name  VARCHAR(100)  NOT NULL,
    category      VARCHAR(50)   NOT NULL,
    price         DECIMAL(10,2) NOT NULL,
    stock         INT           NOT NULL DEFAULT 0
);

-- Insert sample data
INSERT INTO products (product_id, product_name, category, price, stock) VALUES
(1, 'Laptop',   'Electronics', 1000.00,  5),
(2, 'Mouse',    'Electronics',   25.00, 50),
(3, 'Desk',     'Furniture',    300.00, 10),
(4, 'Chair',    'Furniture',    150.00, 20),
(5, 'Monitor',  'Electronics',  400.00,  8),
(6, 'Keyboard', 'Electronics',   75.00, 30);

### SQL Query Structure - Logical Execution Order

```sql
SELECT column1, column2          -- 5. What to return (final projection)
FROM table_name                  -- 1. Where to get data (source table(s))
WHERE condition                  -- 2. Filter individual rows BEFORE grouping
GROUP BY column1                 -- 3. Group rows together
HAVING condition                 -- 4. Filter groups AFTER grouping
ORDER BY column1                 -- 6. Sort the final result set

# Basic SQL Filtering Exercises  
Perfect for beginners in Jupyter Notebook!

```sql
-- YOUR TASK 1: Find products in Electronics category with price > 50
-- YOUR TASK 2: Find products with stock between 10 and 30 (inclusive)
-- YOUR TASK 3: Find products where name contains 'o' (case-insensitive)

In [ ]:
sql = """
 SELECT * FROM products
 where category = 'Electronics' and price > 50 ;
"""

In [ ]:
sql = """
 SELECT product_name FROM products
 where stock  between 10 and 30;
"""

In [ ]:
sql = """
 SELECT product_name FROM products
 where stock  between 10 and 30;
"""

In [ ]:
sql = """
 SELECT product_name FROM products
 where lower(product_name) like '%o%';
"""

In [ ]:
with get_connection() as connection:
    with connection.cursor() as cursor:
        cursor.execute(sql)
        rows = cursor.fetchall()
        headers = [desc[0] for desc in cursor.description] # type: ignore

print(tabulate(rows, headers=headers, tablefmt="psql"))

# Basic SQL aggregation Exercises  
Perfect for beginners in Jupyter Notebook!

```sql
-- YOUR TASK 1: Count how many products are in each category
-- YOUR TASK 2: Find the average price per category
-- YOUR TASK 3: Find the total stock value (price * stock) per category

In [ ]:
sql = """
 SELECT * FROM products;
"""

In [ ]:
sql = """
 SELECT category ,count(*) as product_count FROM products
 group by category;
"""

In [ ]:
sql = """
 SELECT category,avg(price) as avg_price
 FROM products
 group by category;
"""

In [ ]:
sql = """
 SELECT category , sum(stock * price) as stock_value
 from products
 group by category;
"""

In [ ]:
with get_connection() as connection:
    with connection.cursor() as cursor:
        cursor.execute(sql)
        rows = cursor.fetchall()
        headers = [desc[0] for desc in cursor.description] # type: ignore

print(tabulate(rows, headers=headers, tablefmt="psql"))

# Basic SQL filtering Exercises  
Perfect for beginners in Jupyter Notebook!

```sql
-- YOUR TASK 1: Find categories with more than 2 products
-- YOUR TASK 2: Find categories where average price > 200
-- YOUR TASK 3: Find categories with total stock value > 1000

In [ ]:
sql = """
 SELECT *
 from products

"""

In [ ]:
sql = """
 SELECT category
 from products
 group by category
 having count(*) > 2
"""

In [ ]:
sql = """
 SELECT category
 from products
 group by category
 having avg(price) > 200
"""

In [ ]:
sql = """

select category , sum(price * stock) as stock_value
from products
group by category
having sum(price * stock) > 1000;

"""

In [ ]:
with get_connection() as connection:
    with connection.cursor() as cursor:
        cursor.execute(sql)
        rows = cursor.fetchall()
        headers = [desc[0] for desc in cursor.description] # type: ignore

print(tabulate(rows, headers=headers, tablefmt="psql"))

# Basic SQL ( COMBINING ALL ) Exercises  
Perfect for beginners in Jupyter Notebook!

```sql
-- YOUR TASK: Find categories that have:
-- - At least 2 products
-- - Only include products with price > 50
-- - Show: category, product_count, avg_price, total_stock_value
-- - Sort by total_stock_value descending

In [ ]:
sql = """

select category,count(*) as product_count,avg(price),sum(price*stock) as total_stock_value
from products
where price > 50
group by category
having count(*) >= 2
order by total_stock_value desc;


"""

In [ ]:
with get_connection() as connection:
    with connection.cursor() as cursor:
        cursor.execute(sql)
        rows = cursor.fetchall()
        headers = [desc[0] for desc in cursor.description] # type: ignore

print(tabulate(rows, headers=headers, tablefmt="psql"))