In [ ]:
from db_connection import get_connection
from tabulate import tabulate

### SQL Query Structure - Logical Execution Order

```sql
SELECT column1, column2          -- 5. What to return (final projection)
FROM table_name                  -- 1. Where to get data (source table(s))
WHERE condition                  -- 2. Filter individual rows BEFORE grouping
GROUP BY column1                 -- 3. Group rows together
HAVING condition                 -- 4. Filter groups AFTER grouping
ORDER BY column1                 -- 6. Sort the final result set

# Basic SQL Filtering Exercises  
Perfect for beginners in Jupyter Notebook!

```sql
-- YOUR TASK 1: Find products in Electronics category with price > 50
-- YOUR TASK 2: Find products with stock between 10 and 30 (inclusive)
-- YOUR TASK 3: Find products where name contains 'o' (case-insensitive)

In [ ]:
sql = """
 SELECT * FROM products
 where category = 'Electronics' and price > 50 ;
"""

In [ ]:
sql = """
 SELECT product_name FROM products
 where stock  between 10 and 30;
"""

In [ ]:
sql = """
 SELECT product_name FROM products
 where stock  between 10 and 30;
"""

In [ ]:
sql = """
 SELECT product_name FROM products
 where lower(product_name) like '%o%';
"""

In [ ]:
with get_connection() as connection:
    with connection.cursor() as cursor:
        cursor.execute(sql)
        rows = cursor.fetchall()
        headers = [desc[0] for desc in cursor.description] # type: ignore

print(tabulate(rows, headers=headers, tablefmt="psql"))

# Basic SQL aggregation Exercises  
Perfect for beginners in Jupyter Notebook!

```sql
-- YOUR TASK 1: Count how many products are in each category
-- YOUR TASK 2: Find the average price per category
-- YOUR TASK 3: Find the total stock value (price * stock) per category

In [ ]:
sql = """
 SELECT * FROM products;
"""

In [ ]:
sql = """
 SELECT category ,count(*) as product_count FROM products
 group by category;
"""

In [ ]:
sql = """
 SELECT category,avg(price) as avg_price
 FROM products
 group by category;
"""

In [ ]:
sql = """
 SELECT category , sum(stock * price) as stock_value
 from products
 group by category;
"""

In [ ]:
with get_connection() as connection:
    with connection.cursor() as cursor:
        cursor.execute(sql)
        rows = cursor.fetchall()
        headers = [desc[0] for desc in cursor.description] # type: ignore

print(tabulate(rows, headers=headers, tablefmt="psql"))

# Basic SQL filtering Exercises  
Perfect for beginners in Jupyter Notebook!

```sql
-- YOUR TASK 1: Find categories with more than 2 products
-- YOUR TASK 2: Find categories where average price > 200
-- YOUR TASK 3: Find categories with total stock value > 1000

In [ ]:
sql = """
 SELECT *
 from products

"""

In [ ]:
sql = """
 SELECT category
 from products
 group by category
 having count(*) > 2
"""

In [ ]:
sql = """
 SELECT category
 from products
 group by category
 having avg(price) > 200
"""

In [ ]:
-- YOUR TASK 3: Find categories with total stock value > 1000

In [ ]:
with get_connection() as connection:
    with connection.cursor() as cursor:
        cursor.execute(sql)
        rows = cursor.fetchall()
        headers = [desc[0] for desc in cursor.description] # type: ignore

print(tabulate(rows, headers=headers, tablefmt="psql"))

3