In [ ]:
from db_connection import get_connection
from tabulate import tabulate

In [ ]:
sql = """
 SELECT * FROM products
 where category = 'Electronics' and price > 50 ;
"""

In [ ]:
with get_connection() as connection:
    with connection.cursor() as cursor:
        cursor.execute(sql)
        rows = cursor.fetchall()
        headers = [desc[0] for desc in cursor.description] # type: ignore

print(tabulate(rows, headers=headers, tablefmt="psql"))