In [ ]:
from db_connection import get_connection

In [ ]:
sql = """
UPDATE orders SET revenue = 1200.00 WHERE order_id = 9;
UPDATE orders SET revenue = 800.00 WHERE order_id = 6;
"""

#### with insert/create command we commit

In [ ]:

with get_connection() as connection:
    with connection.cursor() as cursor:
        cursor.execute(sql)
        connection.commit()   # REQUIRED for CREATE / INSERT