In [ ]:
from db_connection import get_connection

In [ ]:
sql = """

DROP TABLE IF EXISTS products;

CREATE TABLE products (
    product_id INT,
    product_name VARCHAR(100),
    category VARCHAR(50),
    price DECIMAL(10,2),
    stock INT
);

INSERT INTO products VALUES
(1, 'Laptop', 'Electronics', 1000, 5),
(2, 'Mouse', 'Electronics', 25, 50),
(3, 'Desk', 'Furniture', 300, 10),
(4, 'Chair', 'Furniture', 150, 20),
(5, 'Monitor', 'Electronics', 400, 8),
(6, 'Keyboard', 'Electronics', 75, 30);
"""

#### with insert/create command we commit

In [ ]:

with get_connection() as connection:
    with connection.cursor() as cursor:
        cursor.execute(sql)
        connection.commit()   # REQUIRED for CREATE / INSERT